html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
}

:root {
  --Dark-Cyan: #3c8067;
  --Cream: #f2ebe3;
  --Very-Dark-Blue: #1c232b;
  --Dark-Grayish-Blue: #6c7289;
  --White: #ffffff;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}

.big {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Dark-Grayish-Blue);
}
p.bold {
  font-weight: 700;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  background-color: var(--Cream);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: clamp(2rem, 2.5vw, 3.5rem) clamp(1rem, 2.5vw, 1.5rem);
}
main div#productComponent {
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  overflow: hidden;
  border-radius: 0.875rem;
}
@media screen and (min-width: 757px) {
  main div#productComponent {
    flex-direction: row;
    max-width: 48rem;
    justify-content: space-between;
  }
}
main div#productComponent div#perfumePhoto {
  background-image: url(../images/image-product-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16/12;
}
@media screen and (min-width: 757px) {
  main div#productComponent div#perfumePhoto {
    background-image: url(../images/image-product-desktop.jpg);
    width: 50%;
    aspect-ratio: none;
    height: 100%;
  }
}
main div#productComponent div#productContent {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
}
@media screen and (min-width: 757px) {
  main div#productComponent div#productContent {
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
  }
}
main div#productComponent div#productContent p#perfume {
  text-transform: uppercase;
  color: var(--Dark-Grayish-Blue);
  letter-spacing: 0.3rem;
  margin-bottom: clamp(0.5rem, 2.5vw, 1rem);
}
@media screen and (min-width: 757px) {
  main div#productComponent div#productContent p#perfume {
    margin-bottom: 0;
  }
}
main div#productComponent div#productContent h1 {
  margin-bottom: clamp(0.5rem, 2.5vw, 1rem);
  letter-spacing: -0.05rem;
}
@media screen and (min-width: 757px) {
  main div#productComponent div#productContent h1 {
    max-width: 10ch;
    margin-bottom: 0;
    line-height: 1;
  }
}
main div#productComponent div#productContent p {
  margin-bottom: clamp(1.5rem, 2.5vw, 2rem);
}
@media screen and (min-width: 757px) {
  main div#productComponent div#productContent p {
    max-width: 28ch;
    margin-bottom: 0;
    letter-spacing: 0.05rem;
  }
}
main div#productComponent div#productContent div#price {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: clamp clamp(1.5rem, 2.5vw, 3rem);
}
@media screen and (min-width: 757px) {
  main div#productComponent div#productContent div#price {
    margin-bottom: 0;
  }
}
main div#productComponent div#productContent div#price h2 {
  color: var(--Dark-Cyan);
}
main div#productComponent div#productContent div#price p {
  text-decoration: line-through;
  font-size: 0.875rem;
  margin-top: 0.225rem;
}
@media screen and (min-width: 757px) {
  main div#productComponent div#productContent div#price p {
    margin-top: 0.5rem;
  }
}
main div#productComponent div#productContent button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.875rem;
  border-radius: 0.5rem;
  border: 0;
  color: var(--White);
  background-color: var(--Dark-Cyan);
  transition: all 0.4s ease-in-out;
}
main div#productComponent div#productContent button:hover {
  background-color: var(--Very-Dark-Blue);
}/*# sourceMappingURL=styles.css.map */